extends ../layout/main

block variables
	- var title = 'Портфолио';
	- var h1 = 'Портфолио';

block content

	//- section.about-wrap
	//- 	.container
	//- 		.row
	//- 			.col-12
	//- 				.author
	//- 					.author__icon(style="background-image: url(assets/img/ava.jpg")
	//- 					.author__content
	//- 						.author__name Катюшина Маргарита
	//- 						.author__post

	section.works
		.container
			.row
				-
					var list=[
						{img:'warfare.jpg', title:'Armored warfare', link:'https://margaret89.github.io/warfare/dist/index.html'},
						{img:'gk.jpg', title:'GK hair professional', link:'https://margaret89.github.io/gkeratin/dist/index.html'},
						{img:'dismac.jpg', title:'Dismac', link:'https://margaret89.github.io/jbl.local/public/index.html'},
						{img:'lex-service.jpg', title:'Lex Service', link:'https://margaret89.github.io/lex-service/public/index.html'},
						{img:'vr-drive.jpg', title:'VR drive (сайт на иврите)', link:'https://margaret89.github.io/vr-drive/dist/index.html'},
						{img:'abs-service.jpg', title:'ABS Service', link:'https://margaret89.github.io/abs-service/public/index.html'},
						{img:'latrika.jpg', title:'LaTrika', link:'https://margaret89.github.io/latrika/public/index.html'},
						{img:'tamar.jpg', title:'Тамар', link:'https://margaret89.github.io/tamar/public/index.html'},
						{img:'mir.jpg', title:'Мир', link:'https://margaret89.github.io/mib/public/index.html'},
						{img:'samsung.jpg', title:'Samsung Forward', link:'https://margaret89.github.io/sumsung-forward/public/index.html'},
					]
				each item in list
					.col-4
						a(href=item.link, target='_blank').work-item
							.work-item__img-wrap
								.work-item__img(style="background-image:url(assets/img/"+item.img+")")
							.work-item__title= item.title
